<div class="container full-width" style="width: 100%">
	<div class="row">
		<div class="col-xs-12" id="weather-hero" style="height: 400px; background-color: grey; position: relative;">
			<div class="row">
				<div class="col-xs-4 col-xs-offset-4" id="hero-header-content" style="margin-top: 30px;">
					<div class="row">
						<div id="triple-image">
							<div class="col-xs-3" style="margin-left: 12%">
								<img src="/assets/ngWeather-rxjs.png" style="width: 100%">
							</div>
							<div class="col-xs-3">
								<img src="/assets/ngWeather-a2.png" style="width: 100%">
							</div>
							<div class="col-xs-3">
								<img src="/assets/ngWeather-redux.png" style="width: 100%">
							</div>
						</div>
					</div>
					<div id="hero-header">
						<h2 style="font-size: 42px; font-family: 'Covered By Your Grace'; text-align: center; color: white;">
							ngWeather
						</h2>
						<p style="text-align: center; color: white;">
							Live Streaming Weather With Angular2, Rxjs, and Redux !
						</p>
					</div>
				</div>
				<div class="col-xs-12" id="navigation" style="position: absolute; bottom: -45px;">
					<div class="row">
						<div class="col-xs-1" style="margin-left: 18.5%">
							<img src="/assets/weather-nav.png" style="width: 100%; padding-top: 15px;">
						</div>
						<div class="col-xs-1" style="margin-left: 19%">
							<img src="/assets/ngWeather-house.png" style="width: 100%; padding-bottom: 10px;">
						</div>
						<div class="col-xs-1" style="margin-left: 19%;">
							<img src="/assets/ngWeather-about.png" style="width: 100%">
						</div>
						<div class="col-xs-2">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<router-outlet></router-outlet>
		<div style="margin-top: 80px;">
			<div style="margin-left: 2px; display: inline-block; width: 14%; height: 300px; position: relative;">
			<i class="wi wi-night-sleet" style="position: absolute; left: 50%; transform: translate(-50%); padding-top: 20px; top: 0px; font-size: 80px;"></i>
			</div>
			<div style="position: relative; display: inline-block; width: 14%; height: 300px;">
			<i class="wi wi-day-cloudy" style="position: absolute; left: 50%; transform: translate(-50%); padding-top: 20px; top: 0px; font-size: 80px;"></i>
			</div>
			<div style="position: relative; display: inline-block; width: 14%; height: 300px;">
			<i class="wi wi-day-windy" style="position: absolute; left: 50%; transform: translate(-50%); padding-top: 20px; top: 0px; font-size: 80px;"></i>
			</div>
			<div style="position: relative; display: inline-block; width: 14%; height: 300px;">
			<i class="wi wi-stars" style="position: absolute; left: 50%; transform: translate(-50%); padding-top: 20px; top: 0px; font-size: 80px;"></i>
			</div>
			<div style="position: relative; display: inline-block; width: 14%; height: 300px;">
			<i class="wi wi-day-lightning" style="position: absolute; left: 50%; transform: translate(-50%); padding-top: 20px; top: 0px; font-size: 80px;"></i>
			</div>
			<div style="position: relative; display: inline-block; width: 14%; height: 300px;">
			<i class="wi wi-day-cloudy-high" style="position: absolute; left: 50%; transform: translate(-50%); padding-top: 20px; top: 0px; font-size: 80px;"></i>
			</div>
			<div style="position: relative; display: inline-block; width: 14%; height: 300px;">
			<i class="wi wi-solar-eclipse
" style="position: absolute; left: 50%; top: 0px; transform: translate(-50%); padding-top: 20px; font-size: 80px;"></i>
			</div>
		</div>
	</div>
</div>